all:
  hosts:

    webserver_1:                                    # произвольное имя
      ansible_host: ${host_1}                      # берется IP из main.tf

    webserver_2:                                    # произвольное имя
      ansible_host: ${host_2}                      # берется IP из main.tf
